body{
  background-image: url(../estilos/qatar-2022-994406.jpeg); 
/*   background-size: cover;
  background-repeat: no-repeat ;
  background-position: center;
  object-fit: fill;
  width: 100vw; */

}