.modal-content{
   background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px rgb(45, 45, 46);
    
}



#loginModalLabel{
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgb(34, 33, 2);
       
}
.modal-footer{
 
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  
}
.modal-contraseña{
padding: 10px;
    
}
.modal-title{
 text-align: center;
 width: 100%;
}